<form [formGroup]="detailsForm" (ngSubmit)="save()">
    <!--LOGO-->
    <!--<div class="form-group row">
        <label for="name" class="col-sm-2 form-control-label">Logo</label>
        <div class="col-md-8">
            <label class="file">
                <input class="col-md-8" type="file" id="file">
                <span class="file-custom"></span>
            </label>
        </div>
    </div>-->
    <!--NAME-->
    <h2 class="col-sm-offset-2 workarea-title">Organization Details</h2>
    <div class="form-group row">
        <label for="nameInput" class="col-sm-2 form-control-label">Name</label><span class="dirty" *ngIf="detailsForm.controls['name'].dirty">*</span>
        <div class="col-md-8">
            <input type="text" class="form-control" id="nameInput" placeholder="Name" 
                [formControl]="detailsForm.find('name')"
                [(ngModel)]="organization.Name">
        </div>
    </div>
    <!--CONTACTS-->
    <div class="form-group row">
        <label for="contactsInput" class="col-sm-2 form-control-label">Contacts</label><span class="dirty" *ngIf="detailsForm.controls['contacts'].dirty">*</span>
        <div class="col-md-8">
            <input type="text" class="form-control" id="contactsInput" placeholder="Organization Contacts" 
                [formControl]="detailsForm.find('contacts')"
                [(ngModel)]="organization.Contacts">
        </div>
    </div>
    <!--EMAIL-->
    <div class="form-group row">
        <label for="emailInput" class="col-sm-2 form-control-label">Email</label><span class="dirty" *ngIf="detailsForm.controls['email'].dirty">*</span>
        <div class="col-md-8">
            <input type="email" class="form-control" id="emailInput" placeholder="Organization Email(s)" 
                [formControl]="detailsForm.find('email')"
                [(ngModel)]="organization.Email">
        </div>
    </div>
    <!--URL-->
    <div class="form-group row">
        <label for="urlInput" class="col-sm-2 form-control-label">Url</label><span class="dirty" *ngIf="detailsForm.controls['url'].dirty">*</span>
        <div class="col-md-8">
            <input type="text" class="form-control" id="urlInput" placeholder="Organization Website Address" 
                [formControl]="detailsForm.find('url')"
                [(ngModel)]="organization.Url">
        </div>
    </div>
    <!--PHONE-->
    <div class="form-group row">
        <label for="phoneInput" class="col-sm-2 form-control-label">Phone</label><span class="dirty" *ngIf="detailsForm.controls['phone1'].dirty">*</span>
        <div class="col-md-8">
            <input type="text" class="form-control" id="phoneInput" placeholder="Phone Number(s)" 
                [formControl]="detailsForm.find('phone1')"
                [(ngModel)]="organization.Phone1">
        </div>
    </div>
    <!--FAX-->
    <div class="form-group row">
        <label for="faxInput" class="col-sm-2 form-control-label">Fax</label><span class="dirty" *ngIf="detailsForm.controls['phone2'].dirty">*</span>
        <div class="col-md-8">
            <input type="text" class="form-control" id="faxInput" placeholder="Fax Number(s)" 
                [formControl]="detailsForm.find('phone2')"
                [(ngModel)]="organization.Phone2">            
        </div>
    </div>
    <!--TWITTER-->
    <div class="form-group row">
        <label for="twitterInput" class="col-sm-2 form-control-label">Twitter</label><span class="dirty" *ngIf="detailsForm.controls['twitter'].dirty">*</span>
        <div class="col-md-8">
            <input type="text" class="form-control" id="twitterInput" placeholder="Twitter Url" 
                [formControl]="detailsForm.find('twitter')"
                [(ngModel)]="organization.Twitter">
        </div>
    </div>
    <!--FACEBOOK-->
    <div class="form-group row">
        <label for="facebookInput" class="col-sm-2 form-control-label">Facebook</label><span class="dirty" *ngIf="detailsForm.controls['facebook'].dirty">*</span>
        <div class="col-md-8">
            <input type="text" class="form-control" id="facebookInput" placeholder="Facebook Url" 
                [formControl]="detailsForm.find('facebook')"
                [(ngModel)]="organization.Facebook">
        </div>
    </div>
    <div class="form-group row">
        <label for="private" class="col-sm-2 form-control-label">Private</label><span class="dirty" *ngIf="detailsForm.controls['isPrivate'].dirty">*</span>
        <div class="col-md-8">
            <input type="checkbox" 
                [formControl]="detailsForm.find('isPrivate')"
                [(ngModel)]="isPrivate">
        </div>
    </div>
    <div class="form-group row">
        <img class="col-md-offset-9 saving" src="img/spinner.gif" *ngIf="saving" />
        <button class="btn btn-lg btn-primary col-md-offset-9" type="submit" *ngIf="!saving" [disabled]="!detailsForm.dirty">Save</button>
    </div>
</form>