<div class="col-sm-2 col-md-2 sidebar bg-primary" *ngIf="visible">
  <ul class="nav nav-sidebar">
    <li class="navbar-brand">
      <a href="https://www.busidex.com"><img src="https://az381524.vo.msecnd.net/images/Busidex_logo_hor.png" /></a>
    </li>
    <li *ngIf="isAdmin" [routerLinkActive]="['active']">
      <a [routerLink]="['/edit-members']">Edit Members</a>
    </li>
    <li *ngIf="isAdmin" [routerLinkActive]="['active']">
      <a [routerLink]="['/edit-referrals']">Edit {{ReferralLabel}}</a>
    </li>
    <li *ngIf="false" [routerLinkActive]="['active']">
      <a>Edit Groups</a>
    </li>
    <li *ngIf="isAdmin" [routerLinkActive]="['active']">
      <a [routerLink]="['/edit-details']">Edit Details</a>
    </li>
    <li *ngIf="isAdmin" [routerLinkActive]="['active']">
      <a [routerLink]="['/edit-message']">Edit Message</a>
    </li>
    <li *ngIf="isAdmin" >
      <hr/>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/details']">Details</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/members']">Members</a>
    </li>
    <li *ngIf="false" [routerLinkActive]="['active']">
      <a [routerLink]="['/guests']">Guests</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/referrals']">{{ReferralLabel}}</a>
    </li>
    <li class="footer" [routerLinkActive]="['active']">
      <hr/>
      <a *ngIf="!loggedIn" [routerLink]="['/login']">Log In</a>
      <a *ngIf="loggedIn" [routerLink]="['/logout']">Log Out</a>
    </li>
  </ul>
</div>
<div class="container " [ngClass]="{ 'workarea': visible, 'full-screen': !visible }">
  <router-outlet></router-outlet>
</div>