<div>
    <div class="loader" *ngIf="loading">
        <img src="img/spinner.gif" />
    </div>
    <div *ngIf="!loading" class="referral-container card-container">
        <h5 *ngIf="referrals.length == 0">No {{referralLabel}} To Show</h5>
        
        <div *ngFor="#card of referrals" class="referral-row">
            
            <div class="col-md-4">
                <img 
                    [alt]="card.Name" 
                    [src]="card.imgSrc" 
                    [ngClass]="{ 'myCard' : card.IsMyCard, 'clickable': !editMode, 'v_preview' : card.FrontOrientation == 'V', 'h_preview' : card.FrontOrientation == 'H', 'imageLink' : true }"
                    (click)="goToDetails(card.CardId)" />
                <i *ngIf="editMode" class="fa fa-times-circle icon-remove clickable" (click)="removeReferral(card)"></i>
            </div>
            <div class="col-md-4">
                <label class="card-title">{{card.Name}}</label>
                <div *ngFor="#phone of card.PhoneNumbers">
                    <label >{{phone.Number}}</label>
                </div>
                <a [href]="card.emailLink" target="_blank">{{card.Email}}</a><br />
                <a [href]="card.Url" target="_blank">{{card.Url}}</a>
            </div>
            <div class="col-md-4">
                <span>{{card.Notes}}</span>
            </div>
            
        </div>
    </div>
</div>