   

    
    .addressInfo span {
        display: inline-block;
        width: 90px;
        text-align: right;
    }
    
    .workArea ul {
        margin-left: 0;
    } 
    
    div.well {
        margin-top: 20px;
    }
    
    h1.workAreaTitle {
        margin-left: 40px;
        width: 80%;
        padding: 13px;
    }
    
    .v_preview,
    .h_preview {
        margin: 8px;
        border: solid 1pt #ddd;
    }
    
    .workArea {
        width: 95%;
        margin-left: 0;
    }
    
    footer {
        position: fixed;
        margin-left: 25px;
        bottom: 0;
    }
    
    .detailsSaved {
        display: none;
    }
    
    li {
        list-style: inherit;
    }
      
    i.icon-remove {
        background-color: #fff;
        color: #000;
        border: solid 3pt #fff;
        border-radius: 10px;
        position: absolute;
        z-index: 3;
        margin-top: -6px;
        cursor: pointer;
    }
    
    i.icon-remove:hover {
        background-color: #d3d3d3;
        border-color: #d3d3d3;
        -webkit-box-shadow: -1px 0px 9px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: -1px 0px 9px 0px rgba(50, 50, 50, 0.75);
        box-shadow: -1px 0px 9px 0px rgba(50, 50, 50, 0.75);
    }
    
    .disabledContainer {
        background-color: #aaaaaa;
        padding: 10px;
    }
    
    .disabled {
        opacity: .5;
    }
    
    .enabled {
        opacity: 1;
    }
    
    .h_footer {
        width: 213px;
    }
    
    img.orgLogo {
        max-width: 500px;
    }
    
    h2 small {
        display: block;
        line-height: 28px;
    }
    
    img.twitter,
    img.fb {
        height: 50px;
        margin-right: 10px;
    }
    
    a.groupLink {
        font-size: .85em;
    }
    
    div.workAreaWell {
        width: 100%;
        height: auto;
    }
    
    div.Notes {
        border: solid 1pt silver;
        padding: 5px;
        border-radius: 6px;
        overflow: auto;
    }
    
    div.detailRow {
        cursor: auto;
    }
    
    img.myCard {
        border: solid 3pt green;
        margin: 5px;
    }
    
    img.imageLink {
        cursor: pointer;
    }

    a:hover{ background: none; }
a:link{ text-decoration: none;}
div#card{ margin-left:160px; width: 520px; height: 300px; margin-top: 200px; }

hr{ clear: both;}

li.selected
{
    color: #53868B;
    background-repeat: no-repeat;
    background-position: left;
    background-color:#fff;
}

#addressList{width: 170px;}
#addressList tr#addressTemplate {
    display: none;
}
#addressList td.removeAddress, #addressList td.editAddress {
    cursor: pointer;
    text-align: center;
    width: 35px;  
}
#addressList td.removeAddress:hover {
    color: #c0c0c0;    
}
#addressList tr.deleted td {
    text-decoration: line-through;
}

ul#AddCardSidebar li.step_disabled{ color: #c0c0c0; }
ul#AddCardSidebar li.step_disabled span{ font-style: italic; font-size: .7em; color: #CC0000;}

li a, li button.btn-link { color: #ffffff; text-decoration: none;}

div.workAreaContainer{
    background: #fff;
    bottom:0;
    left:250px;
    min-height: 500px;
    overflow:auto;
    padding-top: 50px;
    position:fixed;
    top: 0;
    width:85%;
    z-index:2;
}
form#cardForm{ padding: 15px; }

table.existingCards{ width: 85%;}
table.existingCards td{ padding: 3px;}
input.submitExisting{ padding: 6px; }

h1#AddEditStepTitle{ margin: 0 0 10px 50px;}
p#stepProgress{float: right;margin-top: -55px; width: 395px;}
p#stepProgress img{ cursor: pointer;}

.workArea {
    background: #fff;
    position:relative;
    margin-left: 40px;
    padding: 13px;
    width: 80%;
    min-height: 500px;
    z-index:1;
}
div.directions{ 
    background-color: #7AC0DA;
    border-radius: 12px;
    color: #fff; float: left; 
    font-size: 1.2em;
    line-height: 22px; 
    margin-bottom: 15px;
    margin-left: -3%;
    margin-top: -15px;
    padding: 15px;
    width: 103%;  
}

div.AddEditNav {
    clear: both;
    background-color: buttonface;
}
input:focus{
    outline: 0;
}
div input[type="button"].step {
    width: 130px;
    height: 35px;
    border:none;
}

div input[type="button"].submitLink {
    color:blue;
    float: right;
    width: 130px;
    padding: 3px;
}

div input[type="button"].step.selected {
    background: #fff;
    border: solid 1pt #fff;
    font-weight:bold;
    color: #0000EE;
    
}
.field{ width: 70%; }
input[type=radio] {
    margin-right: 3px;
    vertical-align: top;
}
#frontReset, #backReset {
    margin-top: 45px;
    margin-bottom: 10px;
}

div#selUploadTo {
    margin:0 0 10px 0;
    background:#cccccc;
    padding-left: 10px;
    height:50px;
    width:70%;
}
div#details input[type=radio] {
    vertical-align:top;
}
img#frontPreview1, img#frontPreview2{ }

.oSelectDiv{ margin-top: 7px; }
.uploadForm{ padding-bottom:5px;}
#left { float: left; width: 600px; border: none; padding: 5px; }
#right {
    float: left;
    width: 350px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 3px;
}

#fontImgLeft, #backImgLeft{ float: left;}

.categoryList { border-collapse: collapse; float: left; margin: 15px 0 10px 15px; width: 100%; }

.categoryList li{ height:25px; display: none; }
.categoryList li span.categoryItem { padding-right: 10px;}

a.letter{
    font-size: 1.3em;
    padding: 0 5px 0 5px;
}
a.letter:hover{
    background: #D3DCE0;
}
a.disabled:hover{
    background: #fff;
}

.MyCardLabel{
    display:inline-block;
    font-size: 1.1em;
}

#categoryDiv{ float: left; width: 300px; margin-left: 10px;}

.h_previewDiv{ border: none; margin: 5px; padding: 10px; }

.v_previewDiv{border: none; margin: 25px 5px;  padding: 10px;}
label.legend{ position: absolute; margin-top: -33px; padding: 0 5px 0 5px;}

.preview{  border: solid 1pt gray;}

.imgContainer{  width: 230px; float: left; }

div#navDiv{ clear: both; padding-bottom:2px; }

.cardField  { height: 30px;margin: 7px 0 7px 0;}
.cardField input[type=text] {
    width: 200px;
}
#selBusiness { height: 35px;} 
#selSearchable { height: 35px; }
#selCategory { height: 280px; }
#selUploadTo { height: 35px; }
#selCategory select { height: 260px; width: 160px; }
div.strip{display:none; position:absolute; width:100%; left:0;z-index:-1; }

div.bottomStrip{ background-color:#948C75; height: 23px; margin-top: 77px; }

.resetLink { text-decoration: underline; cursor: pointer; color: Gray; }

.fixedLabel{ width: 87px; display: inline-block; text-align: right;padding-right: 3px; }

.SizeWarning { color: #ff0000; display: none; position: absolute; font-size: 10pt; cursor: pointer; }
.SizeWarning:hover{ text-decoration: underline; }

#fileSizeInfoMessage{ display: none; font-size: 9pt; padding: 10px; height: 110px; width: 220px; 
                         border: solid 1pt silver; background-color: #948C75; color: #D5DED9;
                         position: absolute; left: 45%; top: 35%;  }

.ClosePopup { font-size: 10px; color: #ffffff; text-decoration: underline; cursor: pointer; float: right; margin-top: 10px;}               

span.link{ margin-top:10px; color: #7A6A53; display: block; }
span.link:hover{ text-decoration: underline;}

.relCardView{ cursor: pointer; height: 70px; width: 105px; }
.relSelected{ display: none;}
img.help {
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
div.ownerHelp {
    display: none;
    height: 100px;
    width: 300px;
    resize:none
}
div.ownerHelp h3 {
    margin-top: 10px;
}
span.required {
    color: red;
    font-size: 1.3em;
}

ul#tagList {
    margin-top: 15px;
}
input#btnAddTag {
    padding: 2px 7px 2px 7px;
}
li#tagTemplate {
    display: none;
}
div.tagContainer {
    width: 50%;
    height: 370px;
    float: left;
}
span.removeTag {
    cursor: pointer;
    padding: 4px;
    color: #7a6a53;
    margin-left: 5px;
}
li.tag {
    border-radius: 4px;
    float: left;
    width: auto;
    margin: 5px;
}
    li.tag.UserTag{
        background: #ccc;
    }
    li.tag.SystemTag {
        background: #BDB76B;
    }
li.tag div {
    margin: 4px;
    color: #fff;
    padding: 3px;
}

li.tag div label.tagName {
    display: inline-block;    
}
a.addPhone, a.removePhone{
    border: solid 1pt #ddd;
    vertical-align:super;
}

.toggle {
  padding:10px;
}
 
.toggle.ng-hide-add, .toggle.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.toggle.ng-hide-add.ng-hide-add-active,
.toggle.ng-hide-remove {
  opacity:0;
}
 
.toggle.ng-hide-add,
.toggle.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.busidexRow img {
    margin-left: 15px;
            margin-bottom: 15px;
            cursor: pointer;
            -ms-opacity: .3;
            opacity: .3;
            padding: 0;
            border: dashed 1pt #000;
}

.busidexRow img.selected {
                -ms-opacity: 1;
                opacity: 1;
                padding: 1px;
                border: none;
}

i.deleteGroup {
    cursor: pointer;
    background-repeat: repeat;
}