<div class="loader" *ngIf="loading">
    <img src="img/spinner.gif" />
</div>
<div class="well" *ngIf="!loading">
    <div>
        <div class="card-container" style="display:inline-block;" *ngFor="#card of organization.Cards">
            <img 
                [alt]="card.Name" 
                [src]="card.imgSrc" 
                [ngClass]="{ 'myCard' : card.IsMyCard, 'clickable': !editMode, 'v_preview' : card.FrontOrientation == 'V', 'h_preview' : card.FrontOrientation == 'H', 'imageLink' : true }"
                (click)="GoToDetails(card)" />
            <img *ngIf="editMode" title="remove" class="clickable remove-icon" src="../../img/delete.png" (click)="removeMember(card.CardId)" alt="remove" />
        </div>
    </div>
</div>