<div class="loader" *ngIf="loading">
    <img src="img/spinner.gif" />
</div>
<div class="well" *ngIf="!loading">
    <div>
        <div class="card-container" style="display:inline-block;" *ngFor="#card of organization.Cards">
            <i class="icon-remove" (click)="RemoveMember(card)"></i>
            <img [alt]="card.Name" [src]="card.imgSrc" 
                [ngClass]="{ 'myCard' : card.IsMyCard, 'v_preview' : card.FrontOrientation == 'V', 'h_preview' : card.FrontOrientation == 'H', 'imageLink' : true }"
                 style="position:relative" (click)="GoToDetails(card)" />
        </div>
    </div>
</div>